body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff3df;
    text-align: center;
}

h1 {
    padding-top: 5rem;
    font-size: 3rem;
}

img {
    vertical-align: middle;
    width: 100px;
}

p {
    color: #777;
}


